<div class="row">
  <div class="col-xs-12">
    <form (ngSubmit)="onSubmit(shoppingForm)" #shoppingForm="ngForm">
      <div class="row">
        <mat-form-field class="col-sm-5">
          <input
            type="text"
            id="name"
            matInput
            placeholder="Name"
            name="name"
            ngModel
            required>
        </mat-form-field>
        <mat-form-field class="col-sm-2">
          <input
            type="number"
            id="amount"
            matInput
            placeholder="Amount"
            name="amount"
            ngModel
            required
            pattern="^\d{0,3}(\.\d{1,2})?$"
          >
        </mat-form-field>
      </div>
      <div class="row">
        <div class="col-xs-12 btn-group">
          <button
            mat-raised-button
            color="primary"
            type="submit"
            [disabled]="!shoppingForm.valid"
          >
            {{ editMode ? 'Update' : 'Add' }}
          </button>
          <button
            mat-raised-button
            color="warn"
            type="button"
            (click)="onDelete()"
            *ngIf="editMode"
          >
            Delete
          </button>
          <button mat-raised-button type="button" (click)="onClear()">Clear</button>
        </div>
      </div>
    </form>
  </div>
</div>
